/*=========== CONTEÚDO ===========*/

#conteudo {
    margin: 2%;
}

#conteudo header {
    text-align: center;
}

#conteudo img {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    transition: transform .2s;
}

.contFlex img:hover {
    transform: scale(1.05);
}

#titulo {
    text-shadow: 1px 1px blueviolet;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1rem 0 0 0;
}

#autor {
    text-shadow: 1px 1px black;
    font-size: 1.2rem;
    margin: 0.5rem 0 0 0;
}

.listaItens {
    list-style: square;
    list-style-position: inside;
}

.listaItens li {
    padding-left: 1.5rem;
    line-height: 1.2rem;
}

.contFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: khaki;
    border-radius: 10px;
    padding: 10px;
}

.contFlex p {
    text-align: justify;
    line-height: 1.3rem;
    margin: 1%;
}

.centralizar {
    text-align: center;
}

@media screen and (max-width: 640px) {
    /*=========== SITE/GRID ===========*/
    .contFlex {
        flex-direction: column;
    }
    .centralizar img {
        width: 100%;
    }
}